<% include ../partials/header %>

<!-- COMMENTS INDEX -->

<h3>Comments Index</h3>
<% comments.forEach(function(comment){ %>
<% console.log(comment); %>
<li><%= comment %> </li>
<% }); %>

<% include ../partials/footer %>