<% include ../partials/header %>

<!-- CAMPGROUNDS INDEX -->

<div class="container">
	<header class="jumbotron">
		<h1><span class='glyphicon glyphicon-tent'></span>Campgrounds</h1>
		<p>Selection of campgrounds from all over the world</p>
		
		<form action='/campgrounds/results' method='GET'>
			<div class='row'>
				<div class='col-md-6 jumbo-search-bar'>
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Search campgrounds" name="search">	
					</div>
				</div>
				<div class='col-md-3 jumbo-search-button'>
					<div class="form-group">
						<button class="btn btn-md btn-success">Search</button>
					</div>
				</div>
			</div>
		</form>
		
		<p>
			<a class="btn btn-primary btn-md" href="/campgrounds/new">Add new campground</a>
		</p>
	</header>
	
	<div class="row text-center" style="display:flex; flex-wrap: wrap">
		<% campgrounds.forEach(function(camp){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src=" <%= camp.image %> ">
				<div class="caption">
					<h4> <%= camp.name %> </h4>
				</div>
				<p>
					<a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a>
				</p>
			</div>
		</div>
		<% }); %>
	</div>
</div>



<% include ../partials/footer %>