ul.nav.navbar-nav li {
	text-align: center;
}

.jumbotron {
	padding-top: 30px;
	padding-bottom: 30px;
}

.jumbo-search-bar {
	padding-right: 5px;
}

.jumbo-search-button {
	padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 19px;
	background-color: #f5f5f5;
}

.thumbnail .caption-full {
    padding: 9px;
}

.show-header {
	padding: 19px;
}

.form-header {
	text-align: center;
}

.form-div {
	width: 30%; margin: 0 auto;
}

h4.camp-thumb-name {
	color: #337ab7;
}

.inline-buttons {
	display: inline;
}

.photo {
	width: 100%;
}

#footer {
	background: white;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
