<% include ../partials/header %>

<!-- NEW COMMENT FORM -->

<div class="container">
	<h1 style="text-align: center">Edit <%= currentUser.username %>'s password:</h1>
	<div style="width: 30%; margin: 0 auto;">
		<form action='/profile/<%= currentUser.username %>?_method=PUT' method="POST">
			<div class="form-group">
				<input class="form-control" type='password' name="currentPassword" placholder='current password'>
			</div>
			<div class="form-group">
				<input class="form-control" type='password' name="newPassword" placholder='new password'>
			</div>
			<div class="form-group">
				<input class="form-control" type='password' name="confirmPassword" placholder='confirm password'>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-default btn-block">Submit!</button>
			</div>
		</form>
		<a href="/profile/<% currentUser.username %>">Go Back</a>
	</div>
</div>

<% include ../partials/footer %>