<% include ../partials/header %>

<div class='container'>
	<h1><%= user.username %>'s Profile Page</h1>

	<a href='#'>Change Password</a>

	<h3>Campgrounds:</h3>
	<p>
		links to campgrounds
	</p>
	
	<h3>Comments:</h3>
	<p>
		links to comments
	</p>
	<br>
</div>

<% include ../partials/footer %>